<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>

<body>
    <div>
        <h1>Wellcome to ATN Company</h1>
        <img class="logo" height="200px" width="200px" src=" logo.png" alt="Girl in a jacket">

        <button><a href="/new">New Toy</a></button>
        <button><a href="/view">View Toys</a></button>
    </div>
    <img class="photo" src="c.jpg" alt="">
    <div>
        
        <h2 class="h2text">About Company </h2>
        <p class="ptext">Supply of smart toy products, baby toy models, with the highest product quality as well as
            the most prestigious market.</p>

    </div>
</body>

</html>